<!DOCTYPE html>
<html lang="en">
  <%-include('./layouts/head') %>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <%-include('./layouts/sidebar') %>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->
          <%-include('./layouts/topbar') %>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
              <h1 class="h3 mb-0 text-gray-800">Manage Skill</h1>
            </div>

            <div class="card shadow p-3 mb-3" style="max-width: 500px; margin: auto">
              <h5 class="card-title text-primary mb-3">Add Skill</h5>
              <div id="addMessageArea" class="mb-3"></div>
              <form id="addSkillForm">
                <div class="mb-3">
                  <label for="add-name" class="form-label required">Skill Name</label>
                  <input type="text" id="add-name" name="name" class="form-control" placeholder="Enter skill name" />
                  <div class="text-danger" id="add-name-error"></div>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
              </form>
            </div>

            <div class="card shadow mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Skills List</h6>
              </div>

              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered table-sm text-dark"
                    id="skillsTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                  </table>
                </div>
              </div>
            </div>

            <div
              class="modal fade"
              id="editSkillModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="editSkillModalLabel"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <input type="hidden" id="skillId" name="skillId" value="" />
                <form id="editSkillForm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="editSkillModalLabel">Edit Skill</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>

                    <div class="modal-body">
                      <div id="editMessageArea" class="mb-3"></div>
                      <div class="form-group">
                        <label for="edit-name" class="required">Skill Name</label>
                        <input type="text" class="form-control" id="edit-name" name="name" value="" />
                        <div class="text-danger" id="edit-name-error"></div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                      <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <%-include('./layouts/footer') %>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <%-include('./layouts/footer-scripts') %>

    <script>
      $(document).ready(function () {
        $("#addSkillForm").on("submit", function (e) {
          e.preventDefault();

          const name = $("#add-name").val().trim();
          if (!name) {
            $("#add-name-error").text("Skill name is requied.");
            return;
          }

          $.ajax({
            url: "/admin/skills",
            type: "POST",
            contentType: "application/json",
            data: JSON.stringify({ name }),
            success: function (response) {
              showMessage(response.message, "success", "add");
              // fetchIndustries();
              $("#addSkillForm")[0].reset();
              $("#addSkillForm .text-danger").text("");
              $("#skillsTable").DataTable().ajax.reload(null, false);
            },
            error: function (xhr) {
              if (handleAuthRedirect(xhr)) return;

              if (xhr.responseJSON && xhr.responseJSON.errors) {
                const errors = xhr.responseJSON.errors;
                for (let field in errors) {
                  $("#" + "add-" + field + "-error").text(errors[field]);
                }
              }

              if (xhr.responseJSON && xhr.responseJSON.message) {
                showMessage(xhr.responseJSON.message, "danger", "add");
              }
            },
          });
        });

        function fetchSkills() {
          $("#skillsTable").DataTable({
            ajax: {
              url: "/admin/skills",
              dataSrc: "data",
            },
            columns: [
              { data: "name" },
              {
                data: null,
                orderable: false,
                render: function (data) {
                  return `
           <button class="btn btn-sm text-warning edit-btn" data-id="${data._id}" title="Edit" style="background: none; border: none;">
        <i class="fas fa-pen"></i>
      </button>
      <button class="btn btn-sm text-danger delete-btn" data-id="${data._id}" title="Delete" style="background: none; border: none;">
        <i class="fas fa-trash"></i>
      </button>
        `;
                },
              },
            ],
          });
        }

        fetchSkills();

        $("#skillsTable").on("click", ".edit-btn", function () {
          const id = $(this).data("id");

          $.ajax({
            url: "/admin/skills/" + id,
            type: "GET",
            success: function (response) {
              $("#skillId").val(response.data._id);
              $("#edit-name").val(response.data.name);
              $("#editSkillModal").modal("show");
            },
            error: function (xhr) {
              if (handleAuthRedirect(xhr)) return;

              const errorMsg = xhr.responseJSON ? xhr.responseJSON.message : "Something went wrong. Please try again later.";

              Swal.fire({
                icon: "error",
                title: "Oops...",
                text: errorMsg,
                showConfirmButton: true,
              });
            },
          });
        });

        $("#editSkillForm").submit(function (e) {
          e.preventDefault();

          const name = $("#edit-name").val().trim();
          if (!name) {
            $("#edit-name-error").text("Skill name is requied.");
            return;
          }

          $.ajax({
            url: "/admin/skills/" + $("#skillId").val() + "/update",
            type: "PUT",
            contentType: "application/json",
            data: JSON.stringify({ name }),
            success: function (response) {
              $("#skillsTable").DataTable().ajax.reload(null, false);
              $("#editSkillModal").modal("hide");
            },
            error: function (xhr) {
              if (handleAuthRedirect(xhr)) return;
              if (xhr.responseJSON && xhr.responseJSON.errors) {
                const errors = xhr.responseJSON.errors;
                for (let field in errors) {
                  $("#" + "edit-" + field + "-error").text(errors[field]);
                }
              }

              if (xhr.responseJSON && xhr.responseJSON.message) {
                showMessage(xhr.responseJSON.message, "danger", "edit");
              }
            },
          });
        });

        $("#skillsTable").on("click", ".delete-btn", function () {
          const id = $(this).data("id");

          const conf = confirm("Do you want to delete this skill?");
          if (!conf) {
            return false;
          }

          $.ajax({
            url: "/admin/skills/" + id + "/delete",
            type: "DELETE",
            success: function (response) {
              $("#skillsTable").DataTable().ajax.reload(null, false);
            },
            error: function (xhr) {
              if (handleAuthRedirect(xhr)) return;
              const errorMsg = xhr.responseJSON ? xhr.responseJSON.message : "Something went wrong. Please try again later.";

              Swal.fire({
                icon: "error",
                title: "Oops...",
                text: errorMsg,
                showConfirmButton: true,
              });

            },
          });
        });

        function showMessage(message, type = "success", action) {
          if (action === "add") {
            $("#addMessageArea").html(`
        <div class="alert alert-${type} alert-dismissible fade show" role="alert">
          ${message}
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
      `);
          }

          if (action === "edit") {
            $("#editMessageArea").html(`
        <div class="alert alert-${type} alert-dismissible fade show" role="alert">
          ${message}
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
      `);
          }

          setTimeout(() => {
            $(".alert").alert("close");
          }, 3000);
        }

        function handleAuthRedirect(error) {
          const response = error.responseJSON;
          if (error.status === 401) {
            window.location.href = "/auth/login";
            return true;
          }
          return false;
        }
      });
    </script>
  </body>
</html>
