 <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

            <div class="d-flex align-items-center">       
                <img
                  src="/<%= portalSetting.logo || '/assets/img/logo.png' %>"
                  alt="<%= portalSetting.portalName || 'Job Portal' %>"
                  style="height: 40px; width: auto; margin-right: 3px"
                />
                <span style="font-weight: 600; color: #275df5; font-size: 18px"> <%= portalSetting.portalName || 'CareerBase' %> </span>
            </div>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%=userInfo.username %></span>
                                <img class="img-profile rounded-circle"
                                    src="<%= userInfo.profilePicture ? userInfo.profilePicture : '/assets/img/user-avatar.png' %>">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <!-- <a class="dropdown-item" href="#">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a> -->
                                <!-- <div class="dropdown-divider"></div> -->
                                 <a class="dropdown-item" href="<%=generateUrl('admin-update-password-page')%>">
                                    <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Update Password
                                </a>
                                <a class="dropdown-item" href="<%=generateUrl('admin-logout')%>">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>